
@font-face {
  font-family: Poppins;
  src: url('../../public/fonts/Poppins-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  color: #522157;
  /* overflow: hidden; */
}
body{
  height: 100vh;
  width:100vw;
}
header {
  position: static;
  height: 9vh;
  z-index: 1;
}

.content {
  z-index: 1;
  height: 82vh;
  background-color: #deccb9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: auto;
  width: 100%;
}

.dreptunghi_dreapta{
  height:70vh;
  margin:20px;
  border:5px solid #8B4C70;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
}
.probleme_noi{
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}
.probleme{
  overflow-y: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 8px 8px;
  border: 1px solid #ccc;
  text-align: left;
}
th {
  background-color: #f2f2f2;
} 
.delete-button {
  background-color: #ff6666;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.delete-button:hover {
  background-color: #ff3333;
}
.user-table {
  width: 100%;
}
.user-table {
  overflow-y: auto;
  border-radius: 10px;
}
.problema{
  display: flex;
  flex-direction: column;
  background-color: #c9afa1;
  margin:20px;
  border-radius: 5px;
}
.titlu_prb{
  margin:10px;
}
.descriere_prb{
  margin:10px;
}
.last_line{
  margin:10px;
}
.butoane {
  margin-top: 6vh;
  margin-right: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end; 
  justify-self: flex-end;
}

.aproba-btn,
.respinge-btn {
  margin:10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.aproba-btn {
  background-color: #834a89;
  color: white;
}

.respinge-btn {
  background-color: #a94b4b;
  color: white;
}
.raspunde-btn,
.sterge-btn {
  margin:10px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.raspunde-btn {
  background-color: #834a89;
  color: white;
  margin-right: 5px;
}

.sterge-btn {
  background-color: #a94b4b;
  color: white;
}
.formular {
  height: 70vh;
  margin: 20px;
  border: 5px solid #8B4C70;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}
.mesaje { 
  overflow-y: auto;
  width: 100%;
}
.aplicare {
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid #c9afa1;
  padding: 10px;
  margin-bottom: 20px; 
  border-radius: 8px;
  background-color: #c9afa1;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  max-width: 100%;
}

.aplicare p {
  margin: 5px 0;
}

.aplicare a {
  display: block;
  margin-top: 10px; 
  text-decoration: none;
  color: #1369ca;
}

.aplicare a:hover{
  color: #5289c9;
  transition: 0.2s;
}

.mesaje_noi{
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}

.stitlu-sectiune{
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}
.mesaj{
  display: flex;
  flex-direction: column;
  background-color: #c9afa1;
  margin:20px;
}
.titlu_mesaj{
  margin:10px;
}
.continut_mesaj{
  margin:10px;
}
.informatii_mesaj{
  margin:10px;
}

.admin-conturi {
  height: 67vh; 
  margin: 20px;
  border: 5px solid #8B4C70;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 790px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #c9afa1;
}

::-webkit-scrollbar-thumb {
  background: #834a89;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #522157;
}


.titlu-sectiune{
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}
.blocare-btn,
.sterge-c-btn,
.modificare-btn {
  padding: 6px 12px; 
  margin: 10px; 
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 11.2px;
}
.cautare-btn {
  background-color: #834a89;
  color: white;
}

.blocare-btn {
  background-color: #a94b4b;
  color: white;
}

.sterge-c-btn {
  background-color: #522157;
  color: white;
}

.modificare-btn {
  background-color: #663953;
  color: white;
}

input[type="search"] {
  width: 87%;
  height: 5vh;
  border-radius: 25px;
  border: 4px solid #bfab9e;
  margin-top: 26px;
  margin-bottom: 30px;
  padding-left: 10px;
  font-size: 20px;
}
input{
  color: #522157;
  width: 80%;
  height: 5vh;
  border-radius: 10px;
  margin: 20px;
  background-color: #c9afa1;
  border: 4px solid #bfab9e;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #c9afa1;
}

::-webkit-scrollbar-thumb {
  background: #834a89;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #522157;
}
footer {
  z-index: 1;
  background: linear-gradient(#deccb9, #8B4C70);
  width: 100%;
  height: 9vh;
  position: static;
  align-self: baseline;
}
footer p{  color: #ffffff;}
.user-table td {
  font-size: 12px;
}
@media (max-width:1023px){
  .content{
    flex-direction: column;
    margin: 0;
  }
  .dreptunghi_dreapta{
    width: 90%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 100vh;
  }
  .formular{
    width: 90%;
    margin-left: 0;
    margin-right: 0;
  }
  .admin-conturi{
    width: 90%;
    margin-left: 0;
    margin-right: 0;
  }
}