* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.sect1,
.sect2,
.sect3 {
  height: 100vh;
  display: flex;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.sect1 {
  background-color: #522157;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.sect2 {
  background: linear-gradient(to bottom, #522157, #6e3c59);
  display: flex;
  justify-content: center;
  align-items: center;

}

.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 90%;
  background-color: rgba(228, 215, 217, 0.5);
  border-radius: 15px;
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

.container1:hover {
  transform: scale(1);
}


.text-welcome {
  grid-column: 1/2;
  font-weight: bold;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1rem;
  text-align: center;
  line-height: 1.3;
}

.img-first-page {
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 15px 15px 0;
  border-style: none;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 30px;
  height: 70vh;
}

.question {
  margin: 2%;
  background-color: rgba(228, 215, 217, 0.5);
  border-radius: 15px;
  font-size: 1.1rem;
  height: 60%;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.intrebare {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-weight: bold;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 1.4rem;
}

.raspuns {
  font-weight: bold;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

.sect3 {
  background: linear-gradient(to bottom, #6e3c59, #8B4C70);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.sections {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

header {
  z-index: 2;
}

.container3 {
  z-index: 1;
}

.sect3 footer{
  height: 10%;
  width: 100%;
  align-self: baseline;
  background: linear-gradient(to bottom, #8B4C70, #522157);
  color: #ffffff;
}
@media (max-width:850px) {
  .container1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max(50%) 2fr;
    align-items: center;
    justify-content: center;
  }

  .container1 .text-welcome {
    grid-row: 2;
    grid-column: 1;
    font-weight: bold;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 15px;
    text-align: center;
    line-height: 1.3;
  }

  .img-first-page {
    grid-row: 1;
    grid-column: 1;
    border-radius: 15px 15px 0 0;
  }
  .container2 {
    flex-direction: column;
  }

  .question {
    height: 40%;
    width: 80vw;
    font-size: 1rem;
  }

  .intrebare {
    font-size: 1.2rem;
  }

  .raspuns {
    font-size: 1rem;
  }
}

@media (max-width:600px) {
  .container1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max(50%) 2fr;
    align-items: center;
    justify-content: center;

  }

  .container1 .text-welcome {
    grid-row: 2;
    grid-column: 1;
    font-size: 12px;
  }

  .img-first-page {
    max-height: 100%;
    grid-row: 1;
    grid-column: 1;
    border-radius: 15px 15px 0 0;
  }
  .container2 {
    flex-direction: column;
  }

  .question {
    height: 40%;
    width: 80vw;
    margin: 2%;
  }

  .intrebare {
    font-size: 75%;
  }

  .raspuns {
    font-size: 65%;
  }

}

@media (max-width:400px) {
  .container1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    justify-content: center;
  }

  .container1 .text-welcome {
    grid-row: 2;
    grid-column: 1;
    font-size:10px;
  }

  .img-first-page {
    max-height: 100%;
    grid-row: 1;
    grid-column: 1;
  }
  
  .container2 {
    flex-direction: column;
  }

  .question {
    height: 40%;
    width: 80vw;
    font-size: 1.2rem;
  }

  .intrebare {
    font-size: 1.4rem;
  }

  .raspuns {
    font-size: 1.1rem;
  }
}

@media (max-height: 710px)and( min-width:801px) {
  .text-welcome {
    font-size: 17px;
  }
}

@media (max-height: 640px) and( min-width:801px){
  .text-welcome {
    font-size: 15px;
  }
}

@media (max-height: 555px)and( min-width:801px) {
  .text-welcome {
    font-size: 13px;
  }
}

@media (max-height: 480px)and( min-width:801px) {
  .text-welcome {
    font-size: 12px;
  }
}

@media (max-height:440px)and( min-width:801px) {
  .container1 {
    bottom: 0;
    width: 100%;
    z-index: 999;
    max-height: 80vh;
    overflow-y: auto;
  }
}