*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.sect1,.sect2,.sect3{
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    
}
.sect1{
    background-color: #522157;
}
.sect2{
    background:linear-gradient(to bottom, #522157, #6e3c59);
}
.sect3{
background: linear-gradient(to bottom,#6e3c59,#8B4C70);
display: flex;
justify-content: center;
align-items: center;
}
.sections{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}


  