*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

section{
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    
}
.sect1{
    background-color: #522157;
}
.sect2{
    background:linear-gradient(to bottom, #522157, #8B4C70);
}
.sect3{
background: linear-gradient(to bottom, #8B4C70, #C17A9D);
}
.sections{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}