 body {
    background-color: #E4DFD9;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container-mare {
    padding-top: 70px;
    width: 100%;
    height: 93vh;
    display: grid; 
    background-color: #deccb9;
    overflow-y: scroll;
    overflow-x: hidden;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 2fr 2fr 2fr 1fr;
    /* border-top: solid 100px #C2649A; */
}

.avatar {
    max-height: 150px;
    max-width: 150px;
    box-sizing: border-box;
    border: 5px white solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    grid-column: 1;
    grid-row: 1;
}

.avatar img {
    width: 100%;
    height: 100%;
    align-self: center;
}

.elem1 {
height: 100%;
width: 100%;
grid-row: 1;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.elem2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row: 1;
}
.animation-example{
grid-row:1/2;
height: 60%;
width:auto;
}
.animation-example img{
    width: auto;
    height: 100%;
}
.text{
    grid-row:2/3;
}
.footer-sections {
    grid-row: 2;
    background-color: #955579;
    opacity: 0.87;
    border-radius: 7px;
}

.profile p {
    grid-row: 1;
    grid-column: 1;
    font-size: 25px;
    margin-top:6%;
    color: #8B4C70;
}

.profile {
    display: grid;
    grid-template-rows: 14fr 1fr;
    background-color: #dcd6ce;
    border: 1px solid rgba(18, 0, 20, 0.33);
    border-top: solid 3px #8d8888;
    border-radius: 7px;
    height: 100%;
    width: 100%;
}

.dreptunghi_dreapta {
    grid-row: 2;
    grid-column: 2/4;
    display: grid;
    grid-template-rows: 1.14fr 13fr 1fr;
    background-color: #dcd6ce;
    margin-right: 30px;
    margin-left: 25px;
    margin-bottom: 147px;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    border: 1px solid rgba(18, 0, 20, 0.33);
    border-top: solid 3px #8d8888;
    border-radius: 7px;
}

.probleme_noi {
    color: #663953;
    font-size: 2em;
    margin-top: 20px;
    padding-left: 30px;
}

.probleme {
    margin-top: 10px;
    overflow-y: auto;
    direction: ltr;
    border-radius: 5px;
    height: 95%;
}

.problema {
    margin-left: 5px;
    background-color: #d0b6a8;
    border-radius: 10px;
    margin-bottom: 7px;
    height: 230px;
}

.sectiune-clasa {
    border-radius: 7px;
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-rows: 12fr 1fr 1fr;
    background-color: #dcd6ce;
    justify-self: center;
    align-self: center;
    border: 1px solid rgba(18, 0, 20, 0.33);
    border-top: solid 3px #8d8888;
    height: 100%;
    width: 100%;
}

.sectiune-clasa p {
    color: #531439;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.join-a-class {
    grid-row:2/3;
    color: #531439;
    font-size: 1.1em;
    padding: 2px 2px 2px 2px;
    transition: transform 0.3s;
    margin-left: auto;
    margin-right: 10px;
}

.join-a-class:hover {
    transform: scale(1.05);
}

.anunturi {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 6fr;
    width: 600px;
    height: 340px;
    background-color: #dcd6ce;
    justify-self: center;
    align-self: center;
    margin-right: 58px;
    border: 1px solid rgba(18, 0, 20, 0.33);
    border-bottom: 25px solid rgb(149, 85, 121);
    border-top: solid 3px #8d8888;
    padding: 0px 0px 0px 0px;
    border-radius: 7px;
}

.elem3 {
    grid-row: 2;
    padding: 50px 50px 100px 50px;
}

.text-anunt1 {
    grid-row: 1;
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
    justify-self: center;
    align-self: center;
    color: #742d55;
    transition: font-size 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.text-anunt1:hover {
    font-size: 30px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.text-anunt2 {
    grid-row: 2;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    justify-self: center;
    align-self: center;
    color: #742d55;
    padding: 125px;
    text-align: center;
}

.domenii {
    grid-row: 3;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 9fr;
    width: 465px;
    height: 340px;
    background-color: #dcd6ce;
    justify-self: center;
    align-self: center;
    margin-left: 5px;
    border: 1px solid rgba(18, 0, 20, 0.33);
    border-bottom: 25px solid rgb(149, 85, 121);
    border-top: solid 3px #8d8888;
    padding: 0px 0px 0px 0px;
    border-radius: 7px;
}

.text-domenii1 {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    justify-self: center;
    align-self: center;
    color: #742d55;
    text-align: center;
}

table {
    width: 80%;
    height: 60%;
    align-self: center;
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    width: 10px;
    height: 10px;
}

.informations {
    grid-row: 4;
    grid-column: 1;
    display: grid;
    grid-template-rows: 1fr 6fr;
    width: 472px;
    height: 240px;
    background-color: #dcd6ce;
    justify-self: center;
    border: 1px solid rgba(18, 0, 20, 0.33);
    border-bottom: 25px solid rgb(149, 85, 121);
    border-top: solid 3px #8d8888;
    padding: 0px 0px 0px 0px;
    border-radius: 7px;
}

.ce-gasesc-aici {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    justify-self: center;
    align-self: center;
    color: #742d55;
    text-align: center;
}
.ce-gasesc-aici-text {
    color: #531439;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 6px 20px 20px 20px;
}
.altele {
    grid-row-start: 4;
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 6fr;
    width: 648px;
    height: 240px;
    background-color: #dcd6ce;
    justify-self: center;
    border: 1px solid rgba(18, 0, 20, 0.33);
    border-bottom: 25px solid rgb(149, 85, 121);
    border-top: solid 3px #8d8888;
    padding: 0px 0px 0px 0px;
    border-radius: 7px;
}

.altele p {
    color: #531439;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 8px;
    padding: 10px;
    text-align: center;
}
.altele img {
    width: 170px;
    align-self: center;
    justify-self: center;
    border-radius: 5px;
    opacity: 0.86;
}

footer{
    position: relative;
    background: linear-gradient(#deccb9, #8B4C70);
    width: 100%;
    height: 7vh;
    color: #ffffff;
  }

  ::-webkit-scrollbar {
    width: 10px; 
  }
  
  ::-webkit-scrollbar-track {
    background: #c9afa1; }
  
  ::-webkit-scrollbar-thumb {
    background: #834a89; 
    border-radius: 5px;
  }
  
 ::-webkit-scrollbar-thumb:hover {
    background: #522157; 
  }