@font-face {
    font-family: Poppins;
    src: url('../../public/fonts/Poppins-Regular.ttf') format('truetype');
}

* {
    font-family: Poppins;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #E4DFD9;
}

.container-mare {
    margin-top: 9vh;
    height: 82vh;
    background-color: #deccb9;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* gap: 20px; */
    /* padding: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.dreptunghi_stanga, .dreptunghi_dreapta {
    margin-top: 9vh;
    display: flex;
    flex-direction: column;
    /* gap: 20px; Add gap for spacing between items */
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

footer {
    background: linear-gradient(#deccb9, #8B4C70);
    width: 100%;
    height: 9vh;
    z-index: 3;
    color: #ffffff;
    align-self: baseline;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #c9afa1;
}

::-webkit-scrollbar-thumb {
    background: #834a89;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #522157;
}

.avatar {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border: 5px white solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    animation: float 6s ease-in-out infinite;
    margin: 0 auto;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.profile {
    background-color: #dcd6ce;
    padding: 20px;
    border: 1px solid rgba(18, 0, 20, 0.33);
    border-top: solid 3px #8d8888;
    border-radius: 7px;
    border-bottom: 25px solid rgb(149, 85, 121);
    text-align: center;
    margin-bottom: 20px;
}

.profile p {
    font-size: 29px;
    margin-top: 20px;
    color: #8B4C70;
}

.go-to-profile {
    font-size: 20px;
    color: #44064b;
    margin-top: 10px;
}

.probleme_noi {
    color: #663953;
    font-size: 34px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.probleme {
    /* overflow-y: auto; */
    border-radius: 5px;
    height: auto;
    background-color: #dcd6ce;
    padding: 20px;
    border: 1px solid rgba(18, 0, 20, 0.33);
    border-top: solid 3px #8d8888;
    border-radius: 7px;
    border-bottom: 25px solid rgb(149, 85, 121);
    margin-bottom: 20px;
}

.problema {
    background-color: #d0b6a8;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.problema .titlu_prb {
    font-size: 20px;
    margin-bottom: 10px;
}

.problema .descriere_prb {
    font-size: 16px;
    margin-bottom: 10px;
}

.problema .tags {
    display: flex;
    gap: 10px;
}

.problema .tag {
    background-color: #834a89;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.problema .autor {
    font-size: 14px;
    color: #663953;
}

.anunturi {
    background-color: #dcd6ce;
    padding: 20px;
    border: 1px solid rgba(18, 0, 20, 0.33);
    border-top: solid 3px #8d8888;
    border-radius: 7px;
    border-bottom: 25px solid rgb(149, 85, 121);
    text-align: center;
    margin-bottom: 20px;
}

.anunturi .text-anunt1 {
    font-size: 28px;
    font-weight: bold;
    color: #742d55;
}

.anunturi .text-anunt2 {
    font-size: 18px;
    font-weight: bold;
    color: #742d55;
    margin-top: 10px;
}

.sectiune-clasa {
    background-color: #dcd6ce;
    padding: 20px;
    border: 1px solid rgba(18, 0, 20, 0.33);
    border-top: solid 3px #8d8888;
    border-radius: 7px;
    border-bottom: 25px solid rgb(149, 85, 121);
    text-align: center;
    margin-bottom: 20px;
}

.sectiune-clasa img {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.sectiune-clasa p {
    color: #531439;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.join-a-class {
    color: #531439;
    font-size: 1.1em;
    padding: 10px 20px;
    border: 2px solid #531439;
    border-radius: 5px;
    display: inline-block;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.join-a-class:hover {
    transform: scale(1.05);
    background-color: #531439;
    color: white;
}

.domenii {
    background-color: #dcd6ce;
    padding: 20px;
    border: 1px solid rgba(18, 0, 20, 0.33);
    border-top: solid 3px #8d8888;
    border-radius: 7px;
    border-bottom: 25px solid rgb(149, 85, 121);
    text-align: center;
    margin-bottom: 20px;
}

.domenii .text-domenii1 {
    font-size: 24px;
    font-weight: bold;
    color: #742d55;
    margin-bottom: 20px;
}

.domenii table {
    color: #531439;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

.domenii th, .domenii td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    font-weight: bold;
}

.informations {
    background-color: #dcd6ce;
    padding: 20px;
    border: 1px solid rgba(18, 0, 20, 0.33);
    border-top: solid 3px #8d8888;
    border-radius: 7px;
    border-bottom: 25px solid rgb(149, 85, 121);
    margin-bottom: 20px;
}

.informations .ce-gasesc-aici {
    font-size: 18px;
    font-weight: bold;
    color: #742d55;
    text-align: center;
    margin-bottom: 10px;
}

.informations .ce-gasesc-aici-text {
    color: #531439;
    font-size: 16px;
    text-align: center;
}

.altele {
    background-color: #dcd6ce;
    padding: 20px;
    border: 1px solid rgba(18, 0, 20, 0.33);
    border-top: solid 3px #8d8888;
    border-radius: 7px;
    border-bottom: 25px solid rgb(149, 85, 121);
    text-align: center;
    margin-bottom: 20px;
}

.altele p {
    color: #531439;
    font-size: 14px;
    margin-bottom: 10px;
}

.altele img {
    width: 100%;
    max-width: 170px;
    border-radius: 5px;
    opacity: 0.86;
}

@media (max-width: 768px) {
    .container-mare {
        grid-template-columns: 1fr; /* One column for small screens */
        /* padding: 10px; */
        margin-top: 9vh;
        padding-left: 10px;
        padding-right: 10px;

    }

    .dreptunghi_stanga, .dreptunghi_dreapta {
        margin-top: 20px;
        width: 100%;
        grid-column: 1 / 2; /* Ensure each element takes full width */
        /* padding-left: 10px;
        padding-right: 10px; */
        padding: 0;
    }
    .dreptunghi_dreapta {
        margin-top: 0;
    }
    .profile p {
        font-size: 24px;
    }

    .go-to-profile {
        font-size: 16px;
    }

    .probleme_noi {
        font-size: 28px;
    }

    .problema .titlu_prb {
        font-size: 18px;
    }

    .problema .descriere_prb {
        font-size: 14px;
    }

    .anunturi .text-anunt1, .text-anunt2 {
        font-size: 24px;
    }

    .sectiune-clasa p {
        font-size: 18px;
    }

    .join-a-class {
        font-size: 18px;
    }

    .domenii .text-domenii1 {
        font-size: 20px;
    }

    .domenii th, .domenii td {
        font-size: 12px;
    }

    .informations .ce-gasesc-aici {
        font-size: 16px;
    }

    .informations .ce-gasesc-aici-text {
        font-size: 14px;
    }

    .altele p {
        font-size: 12px;
    }

    .altele img {
        max-width: 100px;
    }
}
