@font-face {
  font-family: Poppins;
  src: url('../../public/fonts/Poppins-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Poppins;
}

.corp_profil {
  width: 100%;
  margin-top: 9vh;
  height: 91vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.header {
  z-index: 3;
  position: fixed;
}

.corp_stanga {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #8B4C70;
  grid-column: 1/2;
  height: 100%;
  width: 100%;
}

.corp_dreapta {
  grid-column: 2/3;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #deccb9;
  height: 100%;
  width: 100%;
}

button {
  height: 10%;
  background-color: #8B4C70;
  color: #E4DFD9;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

button>p {
  height: 100%;
  width: 100%;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.active {
  background-color: #deccb9;
  color: #8B4C70;
}

button:hover {
  opacity: 0.6;
}

.corp_dreapta footer {
  grid-row: inherit;
  grid-column: inherit;
  background: linear-gradient(rgba(128, 128, 128, 0.1), #8B4C70);
  width: 100%;
  height: 9vh;
  z-index: 3;
  color: #ffffff;
}

.statistics {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}

.circle {
  height: 40%;
  width: 90%;
  background: radial-gradient(circle, #C2649A, #8B4C70, #8B4C70);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.nr {
  font-size: 40px;
  color: #E4DFD9;
  font-weight: bolder;
}

.nr:hover {
  font-size: 60px;
}

.pb {
  font-size: 20px;
  color: #E4C7B7;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  height: fit-content;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #b67399;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #522157;
}

form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  margin-bottom: 6px;
  color: #522157;
}

input {
  background-color: #deccb9;
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#infos_page {
  overflow-y: scroll;
  height: 100%;
}

#infos_page::-webkit-scrollbar {
  width: 10px;
}

#infos_page::-webkit-scrollbar-track {
  background: #c9afa1;
}

#infos_page::-webkit-scrollbar-thumb {
  background: #834a89;
  border-radius: 5px;
}

#infos_page::-webkit-scrollbar-thumb:hover {
  background: #522157;
}

#passwrd_page {
  height: 100%;
}

#switch_page {
  height: 100%;
}


form>button {
  padding: 10px 20px;
  background-color: #99346b;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #b2337b;
}

/* @media (min-height:710px){
.corp_profil{
  margin-top: 65px;
  height: 92vh;
}
} */
@media (min-height:820px) {
  #infos_page {
    overflow-y: hidden;
  }
}

/* @media (max-height:650px) and (min-width:1000px){
.corp_profil{
  height: 90vh;
  margin-top:65px;
}
} */
@media (max-width:400px) {
  button>p {
    font-size: 10px;
  }

  /* .corp_profil{
  margin-top: 65px;
  height: 91vh;
  } */
  .container h2 {
    font-size: 20px;
  }

  .container label {
    font-size: 12px;
  }

  .container input {
    width: 80%;
  }

  .nr {
    font-size: 30px;
  }

  .nr:hover {
    font-size: 40px;
  }

  .pb {
    font-size: 17px;
  }
}

@media (max-width:420px) and (min-height:740px) {
  button>p {
    font-size: 16px;
  }

  /* .corp_profil{
  margin-top: 65px;
  height: 93vh;
  } */
  .container {
    width: 70%;
  }

  .container h2 {
    font-size: 20px;
  }

  .container label {
    font-size: 12px;
  }

  .container input {
    width: 80%;
  }


  .nr {
    font-size: 30px;
  }

  .nr:hover {
    font-size: 40px;
  }

  .pb {
    font-size: 18px;
  }
}

/* @media (max-width: 1024px) and (min-height:914px) and (max-height: 1190px){
  .corp_profil{
    margin-top: 65px;
    height: 95vh;
  }
}
@media (max-width: 1024px) and (min-height:1191px) {
  .corp_profil{
    margin-top: 65px;
    height: 96vh;
  }
} */