*{
    margin:0;
    padding:0;
 }

body {
    background-color: #E4DFD9;
    overflow-y:scroll;  
}

body::-webkit-scrollbar {
    width: 10px; 
  }
  
  body::-webkit-scrollbar-track {
    background: #c9afa1; }
  
    body::-webkit-scrollbar-thumb {
    background: #834a89; 
    border-radius: 5px;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: #522157; 
  }

.container-mare {
    width: 83vw;
    height: 1400px;
    margin-top: 85px;
    display: grid;
    grid-template-rows: 4fr 10fr 17fr;
    grid-template-columns: 1fr 1fr;
    background-color: #E4DFD9;
    margin: auto;
    
    border-top: solid 100px rgb(149, 85, 121);
}

.tip-clasa{
    grid-row: 1;
    grid-column: 1;
    margin-top: 45px;
    margin-right: 70px;
    justify-self: center;
    font-size: 50px;
    color: #6f1d4c;
}
.container-mare > div {
    display: grid;
    background-color: #dcd6ce;
    align-self: flex-end;
    border: 1px solid rgba(18, 0, 20, 0.33);
    border-bottom: 25px solid rgb(149, 85, 121);
    border-top: solid 6px #8d8888;
    padding: 0px 0px 0px 0px;
    border-radius: 7px;
}

.nr_probleme{
    font-size: 11px;
}
