body {
    background-color: #E4DFD9;
}


.container-mare {
    width: 1250px;
    height: 1140px;
    margin-top: 85px;
    display: grid;
    grid-template-rows: 2fr 10fr 10fr;
    grid-template-columns: 1fr 1fr;
    background-color: #deccb9;
    margin: auto;
    overflow: auto;
    border-top: solid 100px #C2649A;
}

.tip-clasa{
    grid-row: 1;
    grid-column: 1;
    margin-left: 20px;
    margin-top: 45px;
    font-size: 50px;
    color: #6f1d4c;
}
.container-mare div {
    grid-row: 2;
    grid-column: 1;
    width: 465px;
    height: 340px;
    background-color: #dcd6ce;
    justify-self: center;
    align-self: center;
    margin-left: 5px;
    border: 1px solid rgba(18, 0, 20, 0.33);
    border-bottom: 25px solid rgb(149, 85, 121);
    border-top: solid 3px #8d8888;
    padding: 0px 0px 0px 0px;
    border-radius: 7px;
}