@font-face {
    font-family: Poppins;
    src: url('../../public/fonts/Poppins-Regular.ttf') format('truetype');
  }
  
  *{
    font-family: Poppins;
  }
  *{
    margin:0;
    padding:0;
 }

body {
    background-color: #E4DFD9;
    overflow-y:scroll;  
}

body::-webkit-scrollbar {
    width: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background: #c9afa1;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #834a89;
    border-radius: 5px;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: #522157;
  }

.container-mare {
    width: 83vw;
    height: 1600px;
    margin-top: 85px;
    display: grid;
    grid-template-rows: 1fr 4.8fr 3.5fr 2fr;
    grid-template-columns: 1fr 1fr;
    background-color: #E4DFD9;
    margin: auto;
    
    border-top: solid 100px rgb(149, 85, 121);
}

.tip-clasa{
    grid-row: 1;
    grid-column: 1;
    margin-top: 45px;
    margin-right: 70px;
    justify-self: center;
    font-size: 50px;
    color: #6f1d4c;
}
.container-mare > div {
    display: grid;
    background-color: #dcd6ce;
    align-self: flex-end;
    border: 1px solid rgba(18, 0, 20, 0.33);
    border-bottom: 25px solid rgb(149, 85, 121);
    border-top: solid 6px #8d8888;
    padding: 0px 0px 0px 0px;
    border-radius: 7px;
}

.nr_probleme{
    font-size: 11px;
}
.probleme-elementare {
    width: 420px;
    height: 520px;
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-rows: 0.8fr 10fr;
    grid-template-columns: 1fr;
    margin-top: 4px;
    margin-left: 150px;
    padding: 20px;
}

table td {
    color: #522157;
}

.titlu1 {
    grid-row: 1;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid gray;
    background-color: #cbc5bd;
}

.titlu1 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #522157;
    font-weight: bold;
    margin-left: 13px;
    margin-top: 9px;
}

.tabel1 {
    width: 85%;
    height: 80%;
    border-collapse: collapse;
    justify-self: center;
    align-self: center;
}

.tabel1 td {
    padding: 10px;
    border: 1px solid #000;
    text-align: left;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.tabel1 a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    justify-self: center;
}

.tabel1 td:hover {
    text-decoration: underline;
    opacity: 0.75;
}


.elemente-ale-limbajului {
    width: 465px;
    height: 155px;
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-rows: 1.9fr 10fr;
    grid-template-columns: 1fr;
    margin-top: 4px;
    padding: 20px;
}

.titlu2 {
    grid-row: 1;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid gray;
    background-color: #cbc5bd;
}

.titlu2 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #522157;
    font-weight: bold;
    margin-left: 13px;
    margin-top: 9px;
}

.tabel2 {
    width: 85%;
    height: 80%;
    border-collapse: collapse;
    justify-self: center;
    align-self: center;
}

.tabel2 td {
    padding: 10px;
    border: 1px solid #000;
    text-align: left;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.tabel2 a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    justify-self: center;
}

.tabel2 td:hover {
    text-decoration: underline;
    opacity: 0.75;
}


.vectori {
    width: 420px;
    height: 92px;
    grid-row: 4;
    grid-column: 1;
    display: grid;
    grid-template-rows: 5fr 10fr;
    grid-template-columns: 1fr;
    margin-top: 7px;
    margin-left: 150px;
    margin-bottom: 65px;
    padding: 20px;
}

.titlu3 {
    grid-row: 1;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid gray;
    background-color: #cbc5bd;
}

.titlu3 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #522157;
    font-weight: bold;
    margin-left: 13px;
    margin-top: 7px;
}

.tabel3 {
    width: 85%;
    height: 80%;
    border-collapse: collapse;
    justify-self: center;
    align-self: center;
}

.tabel3 td {
    padding: 10px;
    border: 1px solid #000;
    text-align: left;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.tabel3 a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    justify-self: center;
}

.tabel3 td:hover {
    text-decoration: underline;
    opacity: 0.75;
}


.matrici {
    width: 465px;
    height: 176px;
    grid-row: 3;
    grid-column: 2;
    display: grid;
    grid-template-rows: 2.4fr 10fr;
    grid-template-columns: 1fr;
    padding: 20px;
    margin-bottom: 20px;
}

.titlu4 {
    grid-row: 1;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid gray;
    background-color: #cbc5bd;
}

.titlu4 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #522157;
    font-weight: bold;
    margin-left: 13px;
    margin-top: 9px;
}

.tabel4 {
    width: 85%;
    height: 80%;
    border-collapse: collapse;
    justify-self: center;
    align-self: center;
}

.tabel4 td {
    padding: 10px;
    border: 1px solid #000;
    text-align: left;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.tabel4 a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    justify-self: center;
}

.tabel4 td:hover {
    text-decoration: underline;
    opacity: 0.75;
}


.diverse {
    width: 465px;
    height: 175px;
    grid-row: 3;
    grid-column: 2;
    display: grid;
    grid-template-rows: 2.65fr 10fr;
    grid-template-columns: 1fr;
    margin-top: 4px;
    margin-bottom: 285px;
    margin-top: 60px;
    padding: 20px;
}

.titlu5 {
    grid-row: 1;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid gray;
    background-color: #cbc5bd;
}

.titlu5 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #522157;
    font-weight: bold;
    margin-left: 13px;
    margin-top: 12px;
}


.tabel5 {
    width: 85%;
    height: 80%;
    border-collapse: collapse;
    justify-self: center;
    align-self: center;
}

.tabel5 td {
    padding: 10px;
    border: 1px solid #000;
    text-align: left;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.tabel5 a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    justify-self: center;
}

.tabel5 td:hover {
    text-decoration: underline;
    opacity: 0.75;
}

.divide {
    width: 465px;
    height: 92px;
    grid-row: 4;
    grid-column: 2;
    display: grid;
    grid-template-rows: 5fr 10fr;
    grid-template-columns: 1fr;
    margin-top: 4px;
    padding: 20px;
    margin-bottom: 67px;
}

.titlu6 {
    grid-row: 1;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid gray;
    background-color: #cbc5bd;
}

.titlu6 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #522157;
    font-weight: bold;
    margin-left: 13px;
    margin-top: 6px;
}

.tabel6 {
    width: 85%;
    height: 80%;
    border-collapse: collapse;
    justify-self: center;
    align-self: center;
}

.tabel6 td {
    padding: 10px;
    border: 1px solid #000;
    text-align: left;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.tabel6 a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    justify-self: center;
}

.tabel6 td:hover {
    text-decoration: underline;
    opacity: 0.75;
}

.structuri {
    width: 420px;
    height: 220px;
    grid-row: 3;
    grid-column: 1;
    display: grid;
    grid-template-rows: 2.2fr 10fr;
    grid-template-columns: 1fr;
    margin-top: 4px;
    margin-left: 150px;
    padding: 20px;
    margin-bottom: 242px;
}

.titlu7 {
    grid-row: 1;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid gray;
    background-color: #cbc5bd;
}

.titlu7 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #522157;
    font-weight: bold;
    margin-left: 13px;
    margin-top: 9px;
}

.tabel7 {
    width: 85%;
    height: 80%;
    border-collapse: collapse;
    justify-self: center;
    align-self: center;
}

.tabel7 td {
    padding: 10px;
    border: 1px solid #000;
    text-align: left;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.tabel7 a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    justify-self: center;
}

.tabel7 td:hover {
    text-decoration: underline;
    opacity: 0.75;
}

footer {
    grid-row: inherit;
    grid-column: inherit;
    background: linear-gradient(rgba(128, 128, 128, 0.1), #8B4C70);
    width: 100%;
    height: 9vh;
    z-index: 3;
    color: #ffffff;
}
@media (min-width: 250px) and (max-width: 500px)
{
    .container-mare {
        width: 85.5%;
        height: 1999px;
        margin-top: 85px;
        margin-right: 70px;
        display: grid;
        grid-template-rows: 0.4fr 3.3fr 1.2fr 1.3fr 1.7fr 1.1fr 1.1fr 1.3fr 0.2fr;
        grid-template-columns: 1fr;
        background-color: #E4DFD9;
        overflow: hidden;
        margin: auto;
        border-top: solid 75px rgb(149, 85, 121);
    }
    .structuri {
        grid-template-rows: 1.18fr 6fr;
        height: 218px;
        grid-row: auto;
        grid-column: auto;
        padding: 0px;
        margin: 30px auto;
    }
    .tip-clasa {
        font-size: 25px;
        margin-right: 10px;
    }
    .divide{
        grid-template-rows: 1.05fr 6fr;
        height: 92px;
        grid-row: auto;
        grid-column: auto;
        padding: 0px;
        margin: 20px auto;
    }
    
    a {
        font-size: 11px;
    }
    .container-mare div {
        align-self: center;
        justify-self: center;
        width: 100%;
    }

    .probleme-elementare,
    .elemente-ale-limbajului,
    .vectori,
    .matrici,
    .diverse,.structuri {
        grid-row: auto;
        grid-column: auto;
        padding: 0px;
        margin: 20px auto;
    }
    .matrici {
        grid-template-rows: 2.25fr 12fr;
        height: 218px;
    }

    .vectori{
        grid-template-rows: 3fr 6fr;
        height: 90px;
        grid-row: auto;
        grid-column: auto;
        padding: 0px;
        margin: 20px auto;
    }

    .elemente-ale-limbajului {
        grid-template-rows: 2.2fr 9.5fr;
    }

    .probleme-elementare {
        margin-top: 30px;
        grid-template-rows: 0.8fr 10.6fr;
        height: 470px;
    }
    .titlu1 , .titlu2 , .titlu3 , .titlu4 , .titlu5 , .titlu6, .titlu7{
        font-size: 14px;
        margin-top: 0;
    }
    .titlu1 p, .titlu2 p, .titlu3 p, .titlu4 p, .titlu5 p, .titlu6 p, .titlu7 p{
        font-size: 13.6px;
        margin-top: 8px;
    }
    .tabel1,
    .tabel2,
    .tabel3,
    .tabel4,
    .tabel5, .tabel6, .tabel7 {
        width: 88%;
        height: 80%;
        border-collapse: collapse;
        justify-self: center;
        align-self: center;
    }
}
@media (min-width:500px) and (max-width: 800px) {
    .container-mare {
        width: 78.5%;
        height: 2540px;
        margin-top: 85px;
        margin-right: 70px;
        display: grid;
        grid-template-rows: 0.4fr 2.7fr 1.2fr 1.3fr 1.7fr 1.1fr 1.1fr 1.3fr 0.2fr;
        grid-template-columns: 1fr;
        background-color: #E4DFD9;
        overflow: hidden;
        margin: auto;
        border-top: solid 90px rgb(149, 85, 121);
    }
    .structuri {
        grid-template-rows: 1.98fr 6fr;
        height: 295px;
        grid-row: auto;
        grid-column: auto;
        padding: 0px;
        margin: 30px auto;
    }
    .divide{
        grid-template-rows: 2.65fr 6fr;
        height: 120px;
        grid-row: auto;
        grid-column: auto;
        padding: 0px;
        margin: 20px auto;
    }
    
    a {
        font-size: 16.7px;
    }
    .container-mare div {
        align-self: center;
        justify-self: center;
        width: 100%;
    }

    .probleme-elementare,
    .elemente-ale-limbajului,
    .vectori,
    .matrici,
    .diverse,.structuri {
        grid-row: auto;
        grid-column: auto;
        padding: 0px;
        margin: 20px auto;
    }
    .matrici {
        grid-template-rows: 2.95fr 12fr;
        height: 295px;
    }

    .vectori{
        grid-template-rows: 1.95fr 6fr;
        height: 102px;
        grid-row: auto;
        grid-column: auto;
        padding: 0px;
        margin: 20px auto;
    }
    .diverse{
        height: 205px;
    }
    .elemente-ale-limbajului {
        grid-template-rows: 2fr 8.5fr;
        height: 213px;
    }
    .probleme-elementare {
        margin-top: 30px;
        grid-template-rows: 0.9fr 10.6fr;
        height: 590px;
    }
    .titlu1 , .titlu2 , .titlu3 , .titlu4 , .titlu5 , .titlu6, .titlu7{
        margin-top: 0;
    }
    .titlu1 p, .titlu2 p, .titlu3 p, .titlu4 p, .titlu5 p, .titlu6 p, .titlu7 p{
        font-size: 19px;
        margin-top: 10px;
    }
    .tabel1,
    .tabel2,
    .tabel3,
    .tabel4,
    .tabel5, .tabel6, .tabel7 {
        width: 88%;
        height: 90%;
        border-collapse: collapse;
        justify-self: center;
        align-self: center;
    }
    .tip-clasa{
        font-size: 30px;
        margin-right: 47px;
    }
}

@media (min-height:800px) and (max-height: 900px){
    .container-mare {
        width: 78%;
        height: 1470px;
        margin-top: 85px;
        margin-right: 70px;
        background-color: #E4DFD9;
        overflow: hidden;
        margin: auto;
        border-top: solid 100px rgb(149, 85, 121);
    }
    .probleme-elementare,
    .elemente-ale-limbajului,
    .vectori,
    .matrici,
    .diverse,.divide, .structuri {
        margin: 12px;
        padding: 0px;
        width: 91%;
    }
    .tabel6 a {
        font-size: 15.7px;
    }
    .matrici{
        margin-bottom: 260px;
    }
}

@media (max-height:650px) and (min-width:1000px) {
    .container-mare {
        width: 80%;
        height: 1460px;
        margin-top: 85px;
        margin-right: 70px;
        background-color: #E4DFD9;
        overflow: hidden;
        margin: auto;
        border-top: solid 80px rgb(149, 85, 121);
    }
    .probleme-elementare,
    .elemente-ale-limbajului,
    .vectori,
    .matrici,
    .diverse, .divide, .structuri {
        margin: 15px;
        padding: 0px;
        width: 91%;
    }
    .tabel1 a, .tabel2 a, .tabel3 a, .tabel4 a, .tabel5 a, .tabel6 a, .tabel7 a {
        font-size: 12px;
    }
    .matrici{
        margin-bottom: 265px;
    }
    .tip-clasa{
        margin-left: 25px;
        margin-top: 65px;
        font-size: 40px;
    }
}

@media (max-width:420px) and (min-width: 330px){
    .container-mare {
        width: 85.5%;
        height: 2250px;
        margin-top: 85px;
        margin-right: 70px;
        display: grid;
        grid-template-rows: 0.2fr 3.4fr 1.7fr 1.3fr 1.7fr 1.1fr 1.1fr 1.3fr 0.2fr;
        grid-template-columns: 1fr;
        background-color: #E4DFD9;
        overflow: hidden;
        margin: auto;
        border-top: solid 80px rgb(149, 85, 121);
    }
    .structuri {
        grid-template-rows: 1.48fr 6fr;
        height: 222px;
        grid-row: auto;
        grid-column: auto;
        padding: 0px;
        margin: 30px auto;
    }
    .divide{
        grid-template-rows: 2.75fr 6fr;
        height: 112px;
        grid-row: auto;
        grid-column: auto;
        padding: 0px;
        margin: 20px auto;
    }
    
    a {
        font-size: 13.5px;
    }
    .container-mare div {
        align-self: center;
        justify-self: center;
        width: 100%;
    }

    .probleme-elementare,
    .elemente-ale-limbajului,
    .vectori,
    .matrici,
    .diverse,.structuri {
        grid-row: auto;
        grid-column: auto;
        padding: 0px;
        margin: 20px auto;
    }
    .matrici {
        grid-template-rows: 3.25fr 12fr;
        height: 220px;
    }

    .vectori{
        grid-template-rows: 3.15fr 6fr;
        height: 87px;
        grid-row: auto;
        grid-column: auto;
        padding: 0px;
        margin: 20px auto;
    }

    .elemente-ale-limbajului {
        grid-template-rows: 1.5fr 8.5fr;
        height: 160px;
    }
    .diverse{
        height: 180px;
    }
    .probleme-elementare {
        margin-top: 30px;
        grid-template-rows: 1.2fr 10.6fr;
        height: 430px;
    }
    .titlu1 , .titlu2 , .titlu3 , .titlu4 , .titlu5 , .titlu6, .titlu7{
        margin-top: 0;
    }
    .titlu1 p, .titlu2 p, .titlu3 p, .titlu4 p, .titlu5 p, .titlu6 p, .titlu7 p{
        margin-top: 10px;
        font-size: 16px;
    }
    .tabel1,
    .tabel2,
    .tabel3,
    .tabel4,
    .tabel5, .tabel6, .tabel7 {
        width: 88%;
        height: 90%;
        border-collapse: collapse;
        justify-self: center;
        align-self: center;
    }
}

@media (min-width:400px) and (min-height:740px) and (max-width: 1100px) {
        .container-mare {
            width: 85.5%;
            height: 2290px;
            margin-top: 85px;
            margin-right: 70px;
            display: grid;
            grid-template-rows: 0.2fr 3.0fr 1.7fr 1.3fr 1.7fr 1.1fr 1.1fr 1.3fr 0.2fr;
            grid-template-columns: 1fr;
            background-color: #E4DFD9;
            overflow: hidden;
            margin: auto;
            border-top: solid 100px rgb(149, 85, 121);
        }
        .structuri {
            grid-template-rows: 1.28fr 6fr;
            height: 280px;
            grid-row: auto;
            grid-column: auto;
            padding: 0px;
            margin: 30px auto;
        }
        .divide{
            grid-template-rows: 2.95fr 6fr;
            height: 119px;
            grid-row: auto;
            grid-column: auto;
            padding: 0px;
            margin: 20px auto;
        }
        
        a {
            font-size: 15.5px;
        }
        .container-mare div {
            align-self: center;
            justify-self: center;
            width: 100%;
        }
        .tip-clasa{
            font-size: 37px;
        }
        .probleme-elementare,
        .elemente-ale-limbajului,
        .vectori,
        .matrici,
        .diverse,.structuri {
            grid-row: auto;
            grid-column: auto;
            padding: 0px;
            margin: 20px auto;
        }
        .matrici {
            grid-template-rows: 2.35fr 12fr;
            height: 280px;
        }
    
        .vectori{
            grid-template-rows: 3.35fr 6fr;
            height: 119px;
            grid-row: auto;
            grid-column: auto;
            padding: 0px;
            margin: 20px auto;
        }
    
        .elemente-ale-limbajului {
            grid-template-rows: 2.5fr 8.5fr;
            height: 200px;
        }
        .diverse{
            height: 210px;
        }
        .probleme-elementare {
            margin-top: 30px;
            grid-template-rows: 1.2fr 10.6fr;
            height: 477px;
        }
        .titlu1 , .titlu2 , .titlu3 , .titlu4 , .titlu5 , .titlu6, .titlu7{
            margin-top: 0;
        }
        .titlu1 p, .titlu2 p, .titlu3 p, .titlu4 p, .titlu5 p, .titlu6 p, .titlu7 p{
            margin-top: 10px;
            font-size: 20.5px;
        }
        .tabel1,
        .tabel2,
        .tabel3,
        .tabel4,
        .tabel5, .tabel6, .tabel7 {
            width: 88%;
            height: 85%;
            border-collapse: collapse;
            justify-self: center;
            align-self: center;
        }
}

@media (max-width: 1024px) and (min-height:1191px) {
    .container-mare {
        width: 78.5%;
        height: 2740px;
        margin-top: 85px;
        margin-right: 70px;
        display: grid;
        grid-template-rows: 0.4fr 2.7fr 1.2fr 1.3fr 1.7fr 1.1fr 1.1fr 1.3fr 0.2fr;
        grid-template-columns: 1fr;
        background-color: #E4DFD9;
        overflow: hidden;
        margin: auto;
        border-top: solid 140px rgb(149, 85, 121);
    }
    .structuri {
        grid-template-rows: 1.98fr 6fr;
        height: 295px;
        grid-row: auto;
        grid-column: auto;
        padding: 0px;
        margin: 30px auto;
    }
    .divide{
        grid-template-rows: 2.65fr 6fr;
        height: 155px;
        grid-row: auto;
        grid-column: auto;
        padding: 0px;
        margin: 20px auto;
    }
    
    a {
        font-size: 21px;
    }
    .container-mare div {
        align-self: center;
        justify-self: center;
        width: 100%;
    }

    .probleme-elementare,
    .elemente-ale-limbajului,
    .vectori,
    .matrici,
    .diverse,.structuri {
        grid-row: auto;
        grid-column: auto;
        padding: 0px;
        margin: 20px auto;
    }
    .matrici {
        grid-template-rows: 3.85fr 12fr;
        height: 295px;
    }

    .vectori{
        grid-template-rows: 2.65fr 6fr;
        height: 145px;
        grid-row: auto;
        grid-column: auto;
        padding: 0px;
        margin: 20px auto;
    }
    .diverse{
        height: 235px;
    }
    .elemente-ale-limbajului {
        grid-template-rows: 2fr 8.5fr;
        height: 213px;
    }
    .probleme-elementare {
        margin-top: 30px;
        grid-template-rows: 1.4fr 10.6fr;
        height: 590px;
    }
    .titlu1 , .titlu2 , .titlu3 , .titlu4 , .titlu5 , .titlu6, .titlu7{
        margin-bottom:23px;
        margin-top: 0;
    }
    .titlu1 p, .titlu2 p, .titlu3 p, .titlu4 p, .titlu5 p, .titlu6 p, .titlu7 p{
        font-size: 26px;
        margin-top: 22px;
    }
    .tabel1,
    .tabel2,
    .tabel3,
    .tabel4,
    .tabel5, .tabel6, .tabel7 {
        width: 88%;
        height: 90%;
        border-collapse: collapse;
        justify-self: center;
        align-self: center;
    }
}