@font-face {
    font-family: Poppins;
    src: url('../../public/fonts/Poppins-Regular.ttf') format('truetype');
}

* {
    font-family: Poppins;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0; /* Remove default margin to prevent unnecessary space */
    height: 100vh; /* Ensure the body takes up the entire viewport height */
}

header {
    flex: 0 0 auto; /* Header takes up as much space as needed */
}

footer {
    background: linear-gradient(#deccb9, #8B4C70);
    width: 100%;
    height: 9vh;
    color: #ffffff;
    align-self: baseline;
    position: fixed; /* Fix the footer at the bottom of the page */
    bottom: 0; /* Align it to the bottom */
    left: 0; /* Ensure it spans the entire width */
}

.container_princ {
    flex: 1 0 auto; /* Main container takes up remaining space */
    margin-top: 9vh;
    background-color: #deccb9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto; /* Enable vertical scrolling for the main container */
    padding-bottom: 9vh; /* Ensure content doesn't overlap with the footer */
}

h2 {
    color: #522157;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.teme {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tema {
    width: 90%;
    max-width: 600px;
    background-color: #c9afa1;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tema h3 {
    color: #522157;
    font-size: 24px;
    margin-bottom: 10px;
}

.tema p {
    color: #8B4C70;
    margin-bottom: 10px;
}

.tema ul {
    list-style-type: none;
    padding: 0;
}

.tema ul li {
    margin-bottom: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #c9afa1;
}

::-webkit-scrollbar-thumb {
    background: #834a89;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #522157;
}

/* Styles for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Modal content styles */
.modal-content {
    background-color: #deccb9;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

/* Close button styles */
.close {
    color: #522157;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content>button {
    background-color: #8B4C70;
    color: #ffffff;
}

.tema>button {
    background-color: #8B4C70;
    color: #ffffff;
    border-radius: 15px;
    margin: 10px;
}

.container_princ>button {
    background-color: #8B4C70;
    color: #ffffff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 40px;
    margin-bottom: 20px;
}

.modal-content ul li {
    color: #522157;
    font-size: 20px;
    list-style-type: none;
    border: 2px solid #8B4C70;
    background-color: #bf6c9b;
}

.modal-content ul li:hover {
    background-color: #8B4C70;
}

input,
textarea {
    background-color: #c9afa1;
}

@media (max-width: 1100px) {
    .teme {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
}

button:hover {
    background-color: #522157;
}
