<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../public/favicons/icon.png">
    <link rel="stylesheet" href="../../public/css/clasele_mele.css">
    <link rel="stylesheet" href="../../public/css/footer.css">
    <link rel="stylesheet" href="../../public/css/header1.css">
    <title>In&lt;form&gt;atiX</title>
    <script>
        function showSidebar() {
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'flex'
        }
        function hideSidebar() {
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'none'
        }
    </script>
    <script src="../../public/js/checkAdmin.js"></script>
</head>

<body>
    <header>
        <nav>
            <ul class="sidebar">
                <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26"
                            viewBox="0 96 960 960" width="26">
                            <path
                                d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z" />
                        </svg></a></li>
                <li><a href="/home" onclick=hideSidebar()>Home</a></li>
                <li><a href="/home/probleme" onclick=hideSidebar()>Probleme</a></li>
                <li><a href="/home/clasele-mele" onclick="hideSidebar()">Clasele mele</a></li>
                <li><a href="/home/profil" onclick="hideSidebar()">Profil</a></li>
                <li><a href="/home/administrare" onclick="hideSidebar()">Administrare</a></li>
                <li><a href="/" onclick="hideSidebar()">Logout</a></li>
            </ul>
            <ul class="menu">
                <li><a href="/home">Home</a></li>
                <li class="hideOnMobile"><a href="/home/probleme">Probleme</a></li>
                <li class="hideOnMobile"><a href="/home/clasele-mele">Clasele mele</a></li>
                <li class="hideOnMobile"><a href="/home/profil">Profil</a></li>
                <li class="hideOnMobile"><a href="/home/administrare">Administrare</a></li>
                <li class="hideOnMobile"><a href="/">Logout</a></li>
                <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg"
                            height="26" viewBox="0 96 960 960" width="26">
                            <path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z" />
                        </svg></a></li>
            </ul>
        </nav>
    </header>
    <div class="container_princ">
        <h2>Clasele mele</h2>
        <div class="clase" id="clase">

        </div>
    </div>
    <footer>
        <p>@ Contact</p>
    </footer>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2 id="className">Clasa a X-a B</h2>
            <div id="userList">
            </div>
            <button onclick="window.location.href = `/home/clasele-mele/teme/${getClassId()}`">Teme</button>
            <button onclick="confirmDeleteClass()">Șterge clasa</button>
        </div>
    </div>

    <div id="confirmDeleteModal" class="modal">
        <div class="modal-content">
            <h2>Confirmare ștergere clasă</h2>
            <p>Sunteți sigur că doriți să ștergeți clasa?</p>
            <div>
                <button onclick="deleteClass()">Da, șterge clasa</button>
                <button onclick="closeConfirmDeleteModal()">Anulează</button>
            </div>
        </div>
    </div>

    <div id="addUserModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeAddUserModal()">&times;</span>
            <h2>Add User</h2>
            <input type="text" class="search-input" placeholder="Search user...">
            <button id="addUserButton">Add User</button>
        </div>
    </div>

    <div id="deleteUserModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeDeleteUserModal()">&times;</span>
            <h2>Delete User</h2>
            <input type="text" class="search-input1" placeholder="Search user...">
            <button onclick="deleteUser()" id="deleteUserButton">Delete User</button>
        </div>
    </div>

    <div id="addClassModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeAddClassModal()">&times;</span>
            <h2>Add New Class</h2>
            <input type="text" id="newClassName" placeholder="Enter class name">
            <button id="buttonCreareClasa">Add Class</button>
            <div id="successMessage" class="message success">
                Clasă adăugată cu succes!
            </div>

            <div id="errorMessage" class="message error">
                Eroare! Câmp gol sau numele clasei este deja utilizat!
            </div>

        </div>
    </div>

    <script>
        var classes;
        var classId;

        document.addEventListener('DOMContentLoaded', function () {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/api/allClasses', true);
            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 300) {
                    classes = JSON.parse(xhr.responseText);
                    console.log(classes);
                    var classContainer = document.getElementById('clase');

                    classes.forEach(function (classObj) {
                        var classDiv = document.createElement('div');
                        classDiv.className = 'clasa';
                        classDiv.innerHTML = '<h3>' + classObj.nume + '</h3>';
                        classDiv.setAttribute('onclick', `showModal('${classObj.nume}')`);
                        classContainer.appendChild(classDiv);
                    });
                } else {
                    console.error('Request failed. Returned status of ' + xhr.status);
                }
            };
            xhr.send();


        });

        function closeModal() {
            var modal = document.getElementById('myModal');
            modal.style.display = "none";
        }

        function closeAddUserModal() {
            var modal = document.getElementById('addUserModal');
            modal.style.display = "none";
        }

        function closeDeleteUserModal() {
            var modal = document.getElementById('deleteUserModal');
            modal.style.display = "none";
        }

        function showModal(className) {
            var modal = document.getElementById('myModal');
            var classNameElement = document.getElementById('className');
            var userListElement = document.getElementById('userList');

            classNameElement.innerText = className;
            modal.style.display = "block";

            var userArray = [];
            classes.forEach(function (classObj) {
                if (classObj.nume === className) {
                    classId = classObj.id;
                    fetch(`/api/getEleviByIdClass?id=${classObj.id}`)
                        .then(response => response.json())
                        .then(data => {

                            for (var i = 0; i < data.length; i++) {
                                userArray.push(data[i]);
                            }
                            userListElement.innerHTML = "";
                            if (userArray.length !== 0) {
                                var specialElement = document.createElement('div');
                                specialElement.style.fontWeight = 'bold';
                                specialElement.style.whiteSpace = 'pre';
                                specialElement.textContent = "ID         Nume         Prenume         Email";

                                userListElement.appendChild(specialElement);
                                userArray.forEach(function (user) {
                                    var listItem = document.createElement('div');

                                    var nameElement = document.createElement('div');
                                    nameElement.style.fontWeight = 'bold';

                                    var idSpan = document.createElement('span');
                                    idSpan.style.color = '#2c3e50';
                                    idSpan.textContent = `#${user.id}`;

                                    var fullNameSpan = document.createElement('span');
                                    fullNameSpan.style.color = '#1e3799';
                                    fullNameSpan.textContent = ` ${user.lastname || ("necunoscut")} ${user.firstname || ("necunoscut")}`;

                                    var emailSpan = document.createElement('span');
                                    emailSpan.style.color = 'green';
                                    emailSpan.textContent = `  ${user.email}`;

                                    nameElement.appendChild(idSpan);
                                    nameElement.appendChild(fullNameSpan);
                                    nameElement.appendChild(emailSpan);

                                    listItem.appendChild(nameElement);
                                    userListElement.appendChild(listItem);
                                });
                            } else {
                                var noUsersElement = document.createElement('div');
                                noUsersElement.style.fontWeight = 'bold';
                                noUsersElement.textContent = 'Niciun utilizator adăugat';
                                noUsersElement.style.color = 'green';
                                userListElement.appendChild(noUsersElement);
                            }

                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }
            });

        }

        const addUserButton = document.getElementById('addUserButton');
        addUserButton.addEventListener('click', function add() {
            const searchInput = document.querySelector('.search-input');
            const idFormular = searchInput.value.trim();

            if (!idFormular) {
                alert('Please enter a number.');
                return;
            }

            if (!/^\d+$/.test(idFormular)) {
                alert('Id invalid.');
                return;
            }

            const url = `/api/addUserToClass?id=${classId}`;
            searchInput.value = '';
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ idFormular: idFormular })
            })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    if (!(data.message === 'Utilizatorul cu id-ul specificat nu există.') && !(data.message === 'Utilizatorul există deja în clasă.')) {
                        closeAddUserModal();
                        closeModal();
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred. Please try again later.');
                    closeAddUserModal();
                    closeAddClassModal();
                });
        });

        function closeAddClassModal() {
            const addUserButton = document.getElementById('addUserButton');
            const clonedButton = addUserButton.cloneNode(true);
            addUserButton.parentNode.replaceChild(clonedButton, addUserButton);

            var modal = document.getElementById('addClassModal');
            modal.style.display = "none";
        }

        function deleteClass() {
            const url = `/api/deleteClass?id=${classId}`;

            fetch(url, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Clasa a fost ștearsă cu succes.');
                        closeModal();
                        window.location.href = '/home/clasele-mele';
                    } else {
                        alert('Eroare la ștergerea clasei: ' + data.message);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('A apărut o eroare!');
                });
        }


        function deleteUser() {

            const searchInput = document.querySelector('.search-input1');
            const idFormular = searchInput.value.trim();

            searchInput.value = "";
            if (!idFormular) {
                alert('Please enter a number.');
                return;
            }

            if (!/^\d+$/.test(idFormular)) {
                alert('Id invalid.');
                return;
            }

            const url = `/api/deleteUser?id=${classId}`;
            const requestOptions = {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ idFormular: idFormular })
            };

            fetch(url, requestOptions)
                .then(response => {
                    return response.json();
                })
                .then(data => {
                    alert(data.message);
                    closeDeleteUserModal();
                    closeModal();
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('A apărut o eroare. Vă rugăm să încercați din nou mai târziu.');
                    closeDeleteUserModal();
                    closeModal();
                });
        }
        function getClassId() {
            return classId;
        }

        function confirmDeleteClass() {
            var confirmModal = document.getElementById('confirmDeleteModal');
            confirmModal.style.display = "block";
        }

        function closeConfirmDeleteModal() {
            var confirmModal = document.getElementById('confirmDeleteModal');
            confirmModal.style.display = "none";
        }
    </script>
    <script src="../../public/js/clasele-mele.js"></script>
</body>

</html>