<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>In&lt;form>atiX</title>
  <link rel="stylesheet" href="../../public/css/header1.css">
  <link rel="stylesheet" href="../../public/css/footer.css">
  <link rel="stylesheet" href="../../public/css/first_page.css">
  <link rel="stylesheet" href="../../public/css/login.css">

  <script>
    function showSidebar() {
      const sidebar = document.querySelector('.sidebar')
      sidebar.style.display = 'flex'
    }
    function hideSidebar() {
      const sidebar = document.querySelector('.sidebar')
      sidebar.style.display = 'none'
    }
    function showSignUp() {
      const flipCheckbox = document.getElementById('flip');
      flipCheckbox.checked = true;
    }
    function showLogin() {
      const flipCheckbox = document.getElementById('flip');
      flipCheckbox.checked = false;
    }
  </script>
  <script>
    function showSignupForm() {
        document.getElementById('flip').checked = true;
    }
    </script>
      <script>
        function showLoginForm() {
            document.getElementById('flip').checked = false;
        }
        </script>
</head>

<body>
  <header>
    <nav>
      <ul class="sidebar">
        <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960"
              width="26">
              <path
                d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z" />
            </svg></a></li>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">Comunitate</a></li>
        <li onclick="showLoginForm()"><a href="#login">Login</a></li>
        <li onclick="showSignupForm()"><a href="#signup">Register</a></li>

      </ul>
      <ul class="menu">
        <li><a href="#home">www.In&lt;form>atiX.ro</a></li>
        <li class="hideOnMobile"><a href="#about">Comunitate</a></li>
        <li class="hideOnMobile" onclick="showLoginForm()"><a href="#login">Login</a></li>
        <li class="hideOnMobile" onclick="showSignupForm()"><a href="#signup">Register</a></li>
        <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26"
              viewBox="0 96 960 960" width="26">
              <path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z" />
            </svg></a></li>
      </ul>
    </nav>
  </header>

  <div class="sections">
    <div class="sect1" id="home">
      <div class="container1">
      <p class="text-welcome">Bine ați venit pe platforma noastră dedicată rezolvării problemelor din domeniul informaticii.  Suntem aici pentru a vă ghida și sprijini în 
        călătoria dumneavoastră către descoperirea și înțelegerea fascinantului univers al tehnologiei. Indiferent dacă sunteți la început de drum
         sau aveți deja cunoștințe avansate în domeniu, aici veți găsi resurse utile care să vă ajute să vă consolidați abilitățile
          și să vă dezvoltați pasiunea pentru informatică. Scopul nostru este să vă oferim acces la o gamă variată de probleme și exerciții, 
          adaptate nivelului dumneavoastră de cunoștințe, astfel încât să vă puteți perfecționa continuu și să vă pregătiți pentru provocările 
          viitoare.</p>
          <img class="img-first-page" src="../../public/images/coding.gif" alt="img">
      </div>
    </div>
    <div class="sect2" id="about">
      <div class="container2">
        <div class="question">
            <p class="intrebare">Cum se vor evalua problemele?</p>
            <p class="raspuns">Problemele vor fi evaluate de către profesori. Ca un utilizator să poată trimite probleme, acesta trebuie să fie membru
              al unei clase. Rezultatul evaluării va fi comunicat de către profesorul asignat clasei respective.</p>
        </div>
        <div class="question">
          <p class="intrebare">Cum pot face parte dintr-o clasă?</p>
          <p class="raspuns">O clasă destinată rezolvării de probleme poate fi creată de un profesor. Invitațiile pot fi trimise de către profesor pe baza numelui
            de utilizator al elevului, sau pe baza unui cod unic asociat clasei respective cu care elevul se poate asocia clasei.</p>
        </div>
      </div>
    </div>
    <div class="sect3">
      <div class="container3">
        <input type="checkbox" id="flip">
        <div class="cover">
          <div class="front">
            <img src="../../public/images/img1.png" alt="">
          </div>
          <div class="back">
            <img class="backImg" src="../../public/images/img1.png" alt="">
          </div>
        </div>
        <div class="forms">
            <div class="form-content">
              <div class="login-form" id="login">
                <div class="title">Login</div>
              <form action="#">
                <div class="input-boxes">
                  <div class="input-box">
                    <i class="fas fa-envelope"></i>
                    <input type="email" placeholder="Enter your email" required>
                  </div>
                  <div class="input-box">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Enter your password" required>
                  </div>
                  <div class="text"><a href="#">Forgot password?</a></div>
                  <div class="button input-box">
                    <input type="submit" value="Submit">
                  </div>
                  <div class="text sign-up-text">Don't have an account? <label for="flip">Sign up</label></div>
                </div>
            </form>
          </div>
            <div class="signup-form" id="signup">
              <div class="title">Sign up</div>
            <form action="#">
                <div class="input-boxes">
                  <div class="input-box">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Enter your name" required>
                  </div>
                  <div class="input-box">
                    <i class="fas fa-envelope"></i>
                    <input type="email" placeholder="Enter your email" required>
                  </div>
                  <div class="input-box">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Enter your password" required>
                  </div>
                  <div class="button input-box">
                    <input type="submit" value="Submit">
                  </div>
                  <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
                </div>
          </form>
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>