<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>In&lt;form>atiX</title>
  <link rel="stylesheet" href="../../public/css/header1.css">
  <link rel="stylesheet" href="../../public/css/footer.css">
  <link rel="stylesheet" href="../../public/css/logged_page.css">
  <link rel="stylesheet" href="../../public/css/animation-loggedpage.css">

  <script>
    function showSidebar() {
      const sidebar = document.querySelector('.sidebar')
      sidebar.style.display = 'flex'
    }
    function hideSidebar() {
      const sidebar = document.querySelector('.sidebar')
      sidebar.style.display = 'none'
    }
    function showSignUp() {
      const flipCheckbox = document.getElementById('flip');
      flipCheckbox.checked = true;
    }
    function showLogin() {
      const flipCheckbox = document.getElementById('flip');
      flipCheckbox.checked = false;
    }
  </script>
</head>

<body>
  <header>
    <nav>
      <ul class="sidebar">
        <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960"
              width="26">
              <path
                d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z" />
            </svg></a></li>
        <li><a href="#home" onclick=hideSidebar()>Home</a></li>
        <li><a href="#probleme" onclick=hideSidebar()>Probleme</a></li>
        <li><a href="#clasa_mea" onclick="hideSidebar()">Clasa mea</a></li>
        <li><a href="#profil" onclick="hideSidebar()">Profil</a></li>
        <li><a href="#logout" onclick="hideSidebar()">Logout</a></li>
      </ul>
      <ul class="menu">
        <li><a href="#home">Home</a></li>
        <li class="hideOnMobile"><a href="#probleme">Probleme</a></li>
        <li class="hideOnMobile"><a href="#clasa_mea">Clasa mea</a></li>
        <li class="hideOnMobile"><a href="#profil">Profil</a></li>
        <li class="hideOnMobile"><a href="#logout">Logout</a></li>
        <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26"
              viewBox="0 96 960 960" width="26">
              <path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z" />
            </svg></a></li>
      </ul>
    </nav>
  </header>

  <div class="container-mare">
    <div class="profile">
      <div class="elem1">
        <div class="avatar">
          <img src="../../public/images/avatar.png" alt="avatar" />
        </div>
        <p>Bine ai venit Alex_Gh07</p>
      </div>
      <div class="footer-sections"></div>
    </div>
    <div class="dreptunghi_dreapta">
      <p class="probleme_noi">Probleme noi</p>
      <div class="probleme">
          <div class="problema">
              <p1 class="titlu_prb">Titlu problema</p1>
              <p2 class="descriere_prb">Descriere problema Descriere problemaDescriere problemaDescriere
                  problemaDescriere problemaDescriere problemaDescriere problemaDescriere problemaDescriere
                  problemaDescriere problemaDescriere problemaDescriere problemaDescriere problemaDescriere
                  problemaDescriere problemaDescriere problemaDescriere problemaDescriere problemaDescriere
                  problema
              </p2>
              <div class="last_line">
                  <div class="tags">
                      <p3 class="tag">Tag1</p3>
                      <p3 class="tag">Tag2</p3>
                      <p3 class="tag">Tag3</p3>
                  </div>
                  <p3 class="autor">Autor</p3>
              </div>
  
          </div>
          <div class="problema">
              <p1 class="titlu_prb">Titlu problema</p1>
              <p2 class="descriere_prb">Descriere problema</p2>
              <div class="last_line">
                  <div class="tags">
                      <p3 class="tag">Tag1</p3>
                      <p3 class="tag">Tag2</p3>
                      <p3 class="tag">Tag3</p3>
                  </div>
                  <p3 class="autor">Autor</p3>
              </div>
  
          </div>
          <div class="problema">
              <p1 class="titlu_prb">Titlu problema</p1>
              <p2 class="descriere_prb">Descriere problema</p2>
              <div class="last_line">
                  <div class="tags">
                      <p3 class="tag">Tag1</p3>
                      <p3 class="tag">Tag2</p3>
                      <p3 class="tag">Tag3</p3>
                  </div>
                  <p3 class="autor">Autor</p3>
              </div>
          </div>
          <div class="problema">
              <p1 class="titlu_prb">Titlu problema</p1>
              <p2 class="descriere_prb">Descriere problema</p2>
              <div class="last_line">
                  <div class="tags">
                      <p3 class="tag">Tag1</p3>
                      <p3 class="tag">Tag2</p3>
                      <p3 class="tag">Tag3</p3>
                  </div>
                  <p3 class="autor">Autor</p3>
              </div>
          </div>
      </div>
      <div class="footer-sections" style="grid-row: 3";>
      </div>
  </div>
  <div class="sectiune-clasa">
    <div class="elem2">
      <div class='animation-example'>
        <div class='item'>
            <div class='line'></div>
            <div class='dot'></div>
            <div class='circle'></div>
        </div>
        <div class='item'>
            <div class='line'></div>
            <div class='dot'></div>
            <div class='circle'></div>
        </div>
        <div class='item'>
            <div class='line'></div>
            <div class='dot'></div>
            <div class='circle'></div>
        </div>
        <div class='item'>
            <div class='line'></div>
            <div class='dot'></div>
            <div class='circle'></div>
        </div>
        <div class='item -type2'>
            <div class='line'></div>
            <div class='dot'></div>
            <div class='circle'></div>
        </div>
        <div class='item -type2'>
            <div class='line'></div>
            <div class='dot'></div>
            <div class='circle'></div>
        </div>
        <div class='item -type2'>
            <div class='line'></div>
            <div class='dot'></div>
            <div class='circle'></div>
        </div>
        <div class='item -type2'>
            <div class='line'></div>
            <div class='dot'></div>
            <div class='circle'></div>
        </div>
        <div class='center'>
            <div class='circle'></div>
            <div class='circle'></div>
            <div class='circle'></div>
        </div>
    </div>
      <p>Faci parte dintr-o clasă?</p>
      <p>Hai să rezolvi probleme alături de noi!</p>
      <p>Trimite soluțiile tale profesorului asignat clasei, și ai ocazia să concurezi cu ceilalți la cât mai multe probleme rezolvate!</p>
    </div>
    <a class="join-a-class" href="">Alătură-te unei clase</a>
    <div class="footer-sections" style="grid-row: 3";>
  </div>
  </div>
</body>

</html>