<!DOCTYPE html>
<html lang="ro">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="icon" type="image/png" href="../../public/favicons/icon.png">
  <link rel="stylesheet" href="./public/css/header1.css">
  <link rel="stylesheet" href="../../public/css/footer.css">
  <link rel="stylesheet" href="../../public/css/logged_page.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script>
    function showSidebar() {
      const sidebar = document.querySelector('.sidebar')
      sidebar.style.display = 'flex'
    }
    function hideSidebar() {
      const sidebar = document.querySelector('.sidebar')
      sidebar.style.display = 'none'
    }
    function showSignUp() {
      const flipCheckbox = document.getElementById('flip');
      flipCheckbox.checked = true;
    }
    function showLogin() {
      const flipCheckbox = document.getElementById('flip');
      flipCheckbox.checked = false;
    }
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    async function logout() {
      try {
        const response = await fetch('/logout', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        });
        if (response.ok) {
          //alert('Logout successful');
          window.location.href = '/';
        } else {
          alert('Logout failed');
        }
      } catch (error) {
        console.error('Error during logout:', error);
      }
    }
  </script>
  <script src="../../public/js/checkAdmin.js"></script>

</head>

<body>
  <header>
    <nav>
      <ul class="sidebar">
        <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960"
              width="26">
              <path
                d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z" />
            </svg></a></li>
        <li><a href="/home" onclick=hideSidebar()>Home</a></li>
        <li><a href="/home/probleme" onclick=hideSidebar()>Probleme</a></li>
        <li><a href="/home/clasele-mele" onclick="hideSidebar()">Clasele mele</a></li>
        <li><a href="/home/profil" onclick="hideSidebar()">Profil</a></li>
        <li><a href="/home/administrare" onclick="hideSidebar()">Administrare</a></li>
        <li><a href="/" onclick="logout()">Logout</a></li>
      </ul>
      <ul class="menu">
        <li><a href="/home">Home</a></li>
        <li class="hideOnMobile"><a href="/home/probleme">Probleme</a></li>
        <li class="hideOnMobile"><a href="/home/clasele-mele">Clasele mele</a></li>
        <li class="hideOnMobile"><a href="/home/profil">Profil</a></li>
        <li class="hideOnMobile"><a href="/home/administrare">Administrare</a></li>
        <li class="hideOnMobile"><a href="/" onclick="logout()">Logout</a></li>
        <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26"
              viewBox="0 96 960 960" width="26">
              <path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z" />
            </svg></a></li>
      </ul>
    </nav>
  </header>
  <div class="container-mare">
    <div class="dreptunghi_stanga">
      <div class="profile">
        <div class="elem1">
          <div class="avatar">
            <img src="../../public/images/avatar.png" alt="avatar">
          </div>
          <p id="helloUser"></p>
        </div>
        <div class="go-to-profile"> <a href="/home/profil"> Profilul meu</a> </div>
      </div>

      <div class="sectiune-clasa">
        <img src="../../public/images/team.gif" alt="team">
        <div class="elem2">
          <p>Faci parte dintr-o clasă?</p>
          <p>Hai să rezolvi probleme alături de noi!</p>
          <p>Trimite soluțiile tale profesorului asignat clasei, și ai ocazia să concurezi cu ceilalți la cât mai multe
            probleme rezolvate!</p>
          <p>Dacă ești deja profesor, creează-ți propria clasă și evaluează-ți elevii după meritele lor.
          </p>
        </div>
        <a class="join-a-class" href="/home/clasele-mele">Clasele tale</a>
      </div>
      <div class="informations">
        <p class="ce-gasesc-aici">Ce găsesc aici?</p>
        <p class="ce-gasesc-aici-text"> <b>informatiX</b> îți propune să rezolvi probleme de informatică. Vei afla
          ulterior dacă soluția
          ta este corectă sau dacă trebuie să mai lucrezi la ea, după ce profesorul tău evaluează munca.
          Problemele sunt clasificate după programa de informatică pentru liceu. Dar aceste probleme pot fi
          rezolvate de oricine. Poți fi elev de gimnaziu, liceu, student, profesor, admin sau pur și simplu pasionat de
          informatică
          și algoritmica problemelor. Trebuie doar să vrei, să lucrezi, și să nu te descurajezi!!</p>
      </div>
      <div class="altele">
        <p><b>Pentru contact admin, raportare erori de funcționare a site-ului, sau alte nelămuriri sau probleme, vă
            rugăm
            să le raportați la adresa <a>informatix.contact@gmail.com</a>. </b></p>
        <img src="../../public/images/bug.jpeg" alt="bug">
      </div>
    </div>


    <div class="dreptunghi_dreapta">
      <div class="probleme">
        <p class="probleme_noi">Probleme noi</p>
        <div class="problema">
          <h3 class="titlu_prb">Titlu problema</h3>
          <p class="descriere_prb">Descriere problema Descriere problemaDescriere problemaDescriere
            problemaDescriere problemaDescriere problemaDescriere problemaDescriere problemaDescriere

          </p>
          <div class="last_line">
            <div class="tags">
              <p class="tag">Tag1</p>
              <p class="tag">Tag2</p>
              <p class="tag">Tag3</p>
            </div>
            <p class="autor">Autor</p>
          </div>

        </div>
        <div class="problema">
          <h3 class="titlu_prb">Titlu problema</h3>
          <p class="descriere_prb">Descriere problema</p>
          <div class="last_line">
            <div class="tags">
              <p class="tag">Tag1</p>
              <p class="tag">Tag2</p>
              <p class="tag">Tag3</p>
            </div>
            <p class="autor">Autor</p>
          </div>

        </div>
        <div class="problema">
          <h3 class="titlu_prb">Titlu problema</h3>
          <p class="descriere_prb">Descriere problema</p>
          <div class="last_line">
            <div class="tags">
              <p class="tag">Tag1</p>
              <p class="tag">Tag2</p>
              <p class="tag">Tag3</p>
            </div>
            <p class="autor">Autor</p>
          </div>
        </div>
        <div class="problema">
          <h1 class="titlu_prb">Titlu problema</h1>
          <p class="descriere_prb">Descriere problema</p>
          <div class="last_line">
            <div class="tags">
              <p class="tag">Tag1</p>
              <p class="tag">Tag2</p>
              <p class="tag">Tag3</p>
            </div>
            <p class="autor">Autor</p>
          </div>
        </div>
      </div>
      <script>
        function fetchProblems() {
          fetch('/api/getAllProblems')
            .then(response => response.json())
            .then(data => {
              const container = document.querySelector('.dreptunghi_dreapta .probleme');

              const problemElements = container.querySelectorAll('.problema');
              problemElements.forEach(element => element.remove());

              data.forEach(async problem => {
                const problemDiv = document.createElement('div');
                problemDiv.classList.add('problema');

                const titleElement = document.createElement('h3');
                titleElement.classList.add('titlu_prb');
                titleElement.textContent = "Nume problemă: " + problem.nume_problema;
                problemDiv.appendChild(titleElement);

                const descriptionElement = document.createElement('p');
                descriptionElement.classList.add('id');
                descriptionElement.textContent = "Id: #" + problem.id;
                problemDiv.appendChild(descriptionElement);

                const lastLineDiv = document.createElement('div');
                lastLineDiv.classList.add('last_line');
                problemDiv.appendChild(lastLineDiv);

                const tagsDiv = document.createElement('div');
                tagsDiv.classList.add('tags');
                lastLineDiv.appendChild(tagsDiv);


                if (problem.tags && problem.tags.length) {
                  problem.tags.forEach(tag => {
                    const tagElement = document.createElement('p');
                    tagElement.classList.add('tag');
                    tagElement.textContent = tag;
                    tagsDiv.appendChild(tagElement);
                  });
                }

                const categorie = document.createElement('p');
                categorie.classList.add('categorie');
                categorie.textContent = "Categorie: " + problem.categorie;
                lastLineDiv.appendChild(categorie);

                const clasa = document.createElement('p');
                clasa.classList.add('clasa');
                clasa.textContent = "Clasă: " + problem.clasa;
                lastLineDiv.appendChild(clasa);

                const authorElement = document.createElement('p');
                authorElement.classList.add('autor');
                authorElement.textContent = "Autor: " + await fetchUserById(problem.creatorId);
                lastLineDiv.appendChild(authorElement);

                container.appendChild(problemDiv);
              });
            })
            .catch(error => {
              console.error('Error fetching problems:', error);
            });
        }
        fetchProblems();  
      </script>
      <div class="domenii">
        <p class="text-domenii1">Categorii de probleme</p>
        <table class="tabel1">
          <tr>
            <th><a href="/home/probleme-clasa-9">Clasa 9</a></th>
          </tr>
          <tr>
            <td><a href="/home/probleme-clasa-10">Clasa 10</a></td>
          </tr>
          <tr>
            <td><a href="/home/probleme-clasa-11">Clasa 11</a></td>
          </tr>
        </table>

        <table class="tabel3">
          <tr>
            <th><a href="/home/probleme-clasa-9/probleme-elementare">Probleme elementare</a></th>
          </tr>
          <tr>
            <td><a href="/home/probleme-clasa-9/elemente-ale-limbajului">Elemente ale limbajului</a></td>
          </tr>
          <tr>
            <td><a href="/home/probleme-clasa-9/tablouri-unidimensionale">Tablouri unidimensionale</a></td>
          </tr>
          <tr>
            <td><a href="/home/probleme-clasa-9/tablouri-bidimensionale">Tablouri bidimensionale</a></td>
          </tr>
          <tr>
            <td><a href="/home/probleme-clasa-10/recursivitate">Recursivitate</a></td>
          </tr>
          <tr>
            <td><a href="/home/probleme-clasa-10/siruri-de-caractere">Siruri de caractere</a></td>
          </tr>
          <tr>
            <td><a href="/home/probleme-clasa-11/teoria-grafurilor">Teoria grafurilor</a></td>
          </tr>
          <tr>
            <td><a href="/home/probleme-clasa-11/backtracking">Backtracking</a></td>
          </tr>
          <tr>
            <td><a href="/home/probleme">Mai multe aici</a></td>
          </tr>
        </table>
        <style>
          table a {
            text-decoration: none;
            color: inherit;
          }

          table a:hover {
            text-decoration: underline;
            color: rgb(152, 135, 135);
          }
        </style>
      </div>
    </div>
  </div>
  <footer>
    <p>Contact: informatix@example.com Toate drepturile sunt rezervate.</p>
  </footer>
  <script>
    const urlParams = new URLSearchParams(window.location.search);
    const userType = urlParams.get('userType');

    function addAdminButton() {
      if (userType === 'admin') {
        const menuUl = document.querySelector('.menu');
        const adminLi = document.createElement('li');
        adminLi.innerHTML = '<a href="administrare.html" onclick="hideSidebar()">Administrare</a>';
        const secondMenuItem = menuUl.children[1];
        menuUl.insertBefore(adminLi, secondMenuItem);
      }
    }

    addAdminButton();
  </script>
</body>
<script src="../../public/js/logged_page.js"></script>

</html>