<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>In&lt;form&gt;atiX</title>
    <link rel="icon" type="image/png" href="../../public/favicons/icon.png">
    <link rel="stylesheet" href="../../public/css/pb.css">
    <link rel="stylesheet" href="../../public/css/footer.css">
    <link rel="stylesheet" href="../../public/css/header1.css">
    <script>
        function showSidebar() {
          const sidebar = document.querySelector('.sidebar')
          sidebar.style.display = 'flex'
        }
        function hideSidebar() {
          const sidebar = document.querySelector('.sidebar')
          sidebar.style.display = 'none'
        }
        function showSignUp() {
          const flipCheckbox = document.getElementById('flip');
          flipCheckbox.checked = true;
        }
        function showLogin() {
          const flipCheckbox = document.getElementById('flip');
          flipCheckbox.checked = false;
        }
      </script>
    <script src="../../public/js/sendArgument.js"></script>
</head>

<body>
  <header>
    <nav>
      <ul class="sidebar">
        <li onclick="hideSidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26"
              viewBox="0 96 960 960" width="26">
              <path
                d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z" />
            </svg></a></li>
            <li><a href="/home" onclick=hideSidebar()>Home</a></li>
            <li><a href="/home/probleme" onclick=hideSidebar()>Probleme</a></li>
            <li><a href="/home/clasele-mele" onclick="hideSidebar()">Clasele mele</a></li>
            <li><a href="/home/profil" onclick="hideSidebar()">Profil</a></li>
            <li><a href="/" onclick="hideSidebar()">Logout</a></li>
      </ul>

      <ul class="menu">
        <li><a href="/home">Home</a></li>
        <li class="hideOnMobile"><a href="/home/probleme">Probleme</a></li>
        <li class="hideOnMobile"><a href="/home/clasele-mele">Clasele mele</a></li>
        <li class="hideOnMobile"><a href="/home/profil">Profil</a></li>
        <li class="hideOnMobile"><a href="/">Logout</a></li>
        <li class="menu-button" onclick="showSidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26"
              viewBox="0 96 960 960" width="26">
              <path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z" />
            </svg></a></li>
      </ul>
    </nav>
</header>
    <div class="content">
        <h2>Caută probleme</h2>
        <input type="search" placeholder="Search...">
        <div class="buttons">
          <button onclick="window.location.href = '/home/probleme-clasa-9'">Clasa a 9-a</button>
          <button onclick="window.location.href = '/home/probleme-clasa-10'">Clasa a 10-a</button>
          <button onclick="window.location.href = '/home/probleme-clasa-11'">Clasa a 11-a</button>
        </div>
        <div id="problemInputs">
        </div>
    </div>
    <footer>
        <p>@ Contact</p>
    </footer>

    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const userType = urlParams.get('userType');
    
      function addSection() {
          if (userType === 'profesor') {
              const addProblemTitle = document.createElement('h3');
              addProblemTitle.textContent = 'Adaugă o problemă';
    
              const problemNameInput = document.createElement('input');
              problemNameInput.type = 'text';
              problemNameInput.id = 'problemName';
              problemNameInput.placeholder = 'Numele problemei';
              const problemTextInput = document.createElement('textarea');
              problemTextInput.id = 'problemText';
              problemTextInput.placeholder = 'Textul problemei';
              const problemTagsInput = document.createElement('input');
              problemTagsInput.type = 'text';
              problemTagsInput.id = 'problemTags';
              problemTagsInput.placeholder = 'Tags #tag1 #tag2...';
              const classSelectInput = document.createElement('select');
              classSelectInput.id = 'classSelect';
              const classOptions = ['Clasa a 9a', 'Clasa a 10a', 'Clasa a 11a'];
              classOptions.forEach((optionText, index) => {
                  const option = document.createElement('option');
                  option.value = `clasa${index + 9}`;
                  option.textContent = optionText;
                  classSelectInput.appendChild(option);
              });
              const submitButton = document.createElement('button');
              submitButton.type = 'submit';
              submitButton.textContent = 'Submit';
    
              const problemInputsContainer = document.getElementById('problemInputs');
              if (problemInputsContainer) {
                  problemInputsContainer.innerHTML = '';
    
                  problemInputsContainer.appendChild(addProblemTitle);
                  problemInputsContainer.appendChild(problemNameInput);
                  problemInputsContainer.appendChild(document.createElement('br'));
                  problemInputsContainer.appendChild(problemTextInput);
                  problemInputsContainer.appendChild(document.createElement('br'));
                  problemInputsContainer.appendChild(problemTagsInput);
                  problemInputsContainer.appendChild(document.createElement('br'));
                  problemInputsContainer.appendChild(classSelectInput);
                  problemInputsContainer.appendChild(document.createElement('br'));
                  problemInputsContainer.appendChild(submitButton);
              }
          }
      }
    
      addSection();
    </script>
</body>

</html>