<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>In&lt;form&gt;atiX</title>
    <link rel="icon" type="image/png" href="../../../public/favicons/icon.png">
    <link rel="stylesheet" href="../../../public/css/header1.css">
    <link rel="stylesheet" href="../../../public/css/temele_mele.css">
    <link rel="stylesheet" href="../../../public/css/footer.css">
    <script src="../../../public/js/temele-mele.js"></script>
    <script src="../../../public/js/checkAdmin.js"></script>
</head>

<body>
    <header>
        <nav>
            <ul class="sidebar">
                <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26"
                            viewBox="0 96 960 960" width="26">
                            <path
                                d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z" />
                        </svg></a></li>
                <li><a href="/home" onclick=hideSidebar()>Home</a></li>
                <li><a href="/home/probleme" onclick=hideSidebar()>Probleme</a></li>
                <li><a href="/home/clasele-mele" onclick="hideSidebar()">Clasele mele</a></li>
                <li><a href="/home/profil" onclick="hideSidebar()">Profil</a></li>
                <li><a href="/home/administrare" onclick="hideSidebar()">Administrare</a></li>
                <li><a href="/" onclick="hideSidebar()">Logout</a></li>
            </ul>
            <ul class="menu">
                <li><a href="/home">Home</a></li>
                <li class="hideOnMobile"><a href="/home/probleme">Probleme</a></li>
                <li class="hideOnMobile"><a href="/home/clasele-mele">Clasele mele</a></li>
                <li class="hideOnMobile"><a href="/home/profil">Profil</a></li>
                <li class="hideOnMobile"><a href="/home/administrare">Administrare</a></li>
                <li class="hideOnMobile"><a href="/">Logout</a></li>
                <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg"
                            height="26" viewBox="0 96 960 960" width="26">
                            <path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z" />
                        </svg></a></li>
            </ul>
        </nav>
    </header>
    <div class="container_princ">
        <h2>Temele Mele</h2>
        <div id="temele">

        </div>
    </div>

    <div id="addTemaModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeAddTemaModal()">&times;</span>
            <h2>Adaugă Temă Nouă</h2>
            <label for="clasaInput">Clasa:</label>
            <input type="text" id="clasaInput" placeholder="Clasa a X-a B/XB/10B"><br><br>
            <label for="deadlineInput">Deadline:</label>
            <input type="date" id="deadlineInput"><br><br>
            <button onclick="submitNewTema()">Submit</button>
        </div>
    </div>

    <div id="searchModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeSearchModal()">&times;</span>
            <h2>Cauta Probleme</h2>
            <input type="text" id="searchInput" placeholder="Cauta problema...">
            <button onclick="searchProblem()">Adauga</button>
        </div>
    </div>

    <div id="userModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeUserModal()">&times;</span>
            <h2>Select User</h2>
            <ul>
                <li onclick="openUserSolution()">User 1</li>
                <li onclick="openUserSolution()">User 2</li>
                <li onclick="openUserSolution()">User 3</li>
                <li onclick="openUserSolution()">User 4</li>
                <li onclick="openUserSolution()">User 5</li>
            </ul>
        </div>
    </div>

    <div id="evaluateModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeEvaluateModal()">&times;</span>
            <h2>Evalueaza Elevii</h2>
            <ul>
                
            </ul>
        </div>
    </div>
    <div id="problemModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeProblemModal()">&times;</span>
            <h2>Rezolva Probleme</h2>
            <ul>
                <li onclick="openProblemSolution('Problema 1', 2, 1)">Problema 1</li>
                <li onclick="openProblemSolution('Problema 2', 2, 2)">Problema 2</li>
                <li onclick="openProblemSolution('Problema 3', 2, 3)">Problema 3</li>
                <li onclick="openProblemSolution('Problema 4', 2, 4)">Problema 4</li>
            </ul>
        </div>
    </div>
    <footer>
        <p>@ Contact</p>
    </footer>
    <script>
        let users;
        function getElevi() {
            const url = window.location.href;
            const classId = url.substring(url.lastIndexOf('/') + 1);
            fetch(`/api/getEleviByIdClass?id=${classId}`)
                .then(response => response.json())
                .then(data => {
                    users = data;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
        getElevi();
        var idTemaGlobal;

        function showSidebar() {
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'flex'
        }

        function hideSidebar() {
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'none'
        }

        function openEvaluateModal() {
         var modal = document.getElementById('evaluateModal');
         modal.style.display = "block";
         populateUsersList(users);
        }
        function closeSearchModal() {
            var modal = document.getElementById('searchModal');
            modal.style.display = "none";
        }

        function closeEvaluateModal() {
            var modal = document.getElementById('evaluateModal');
            modal.style.display = "none";
        }

        function closeProblemModal() {
            var modal = document.getElementById('problemModal');
            modal.style.display = "none";
        }

        function openUserSolution() {
            const userType = getUrlParam('userType');
            const url = 'solution.html';
            if (url.includes('?')) {
                window.location.href = `${url}&userType=${userType}`;
            } else {
                window.location.href = `${url}?userType=${userType}`;
            }
        }

        function closeAddTemaModal() {
            var modal = document.getElementById('addTemaModal');
            modal.style.display = "none";
        }

        function openAddTemaModal() {
            var modal = document.getElementById('addTemaModal');
            modal.style.display = "block";
        }
        function openSearchModal(id) {
            idTemaGlobal = id;
            var modal = document.getElementById('searchModal');
            modal.style.display = "block";
        }

        function submitNewTema() {

            const clasaInput = document.getElementById('clasaInput').value.trim();
            const deadlineInput = document.getElementById('deadlineInput').value;

            if (!clasaInput || !deadlineInput) {
                alert('Toate câmpurile sunt obligatorii.');
                return;
            }

            const today = new Date();
            const deadlineDate = new Date(deadlineInput);

            if (deadlineDate <= today) {
                alert('Data trebuie să fie după data curentă.');
                return;
            }
            const url = window.location.href;
            const classId = url.substring(url.lastIndexOf('/') + 1);

            const data = {
                nume: clasaInput,
                deadline: deadlineInput,
                classId: classId
            };

            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/api/createTema', true);
            xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        alert(response.message);
                        document.getElementById('clasaInput').value = '';
                        document.getElementById('deadlineInput').value = '';
                        closeAddTemaModal();
                    } else {
                        var response = JSON.parse(xhr.responseText);
                        alert(response.message);
                    }
                }
            };

            xhr.send(JSON.stringify(data));
            closeAddTemaModal();
            document.getElementById('clasaInput').value = '';
            document.getElementById('deadlineInput').value = '';
            location.reload();
        }


        function searchProblem() {
            const searchInput = document.getElementById('searchInput').value.trim();

            if (!searchInput) {
                alert('Introduceti un ID de problema.');
                return;
            }

            if (!/^\d+$/.test(searchInput)) {
                alert('ID-ul problemei trebuie să conțină doar numere.');
                return;
            }

            const url = window.location.href;
            const idTema = url.substring(url.lastIndexOf('/') + 1);

            const data = {
                problemId: searchInput
            };

            console.log(idTemaGlobal);
            const xhr = new XMLHttpRequest();
            xhr.open('POST', `/api/addProblem?id=${idTemaGlobal}`, true);
            xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    var response = JSON.parse(xhr.responseText);
                    if (xhr.status === 200) {
                        document.getElementById('searchInput').value = '';
                        closeSearchModal();
                        location.reload();
                    } else {
                        document.getElementById('searchInput').value = '';
                        alert(response.message);
                    }
                }
            };

            xhr.send(JSON.stringify(data));
        }
    </script>

    <script>
        function getTeme() {
            const url = window.location.href;
            const classId = url.substring(url.lastIndexOf('/') + 1);
            const xhr = new XMLHttpRequest();
            xhr.open('GET', `/api/getTeme?id=${classId}`, true);

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        const teme = JSON.parse(xhr.responseText);
                        displayTeme(teme);
                    } else {
                        alert('Eroare la obținerea temelor.');
                    }
                }
            };

            xhr.send();
        }

        async function displayTeme(teme) {
            const temeContainer = document.getElementById('temele');
            temeContainer.innerHTML = '';

            const temeArray = Array.isArray(teme) ? teme : [teme];

            for (const tema of temeArray) {
                const divTema = document.createElement('div');
                divTema.classList.add('tema');

                const problems = await fetchProblemsByTemaId(tema.id);

                const problemsList = problems.map(problem => `
            <li>Id: ${problem.id} - ${problem.nume_problema} - ${problem.dificultate}</li>
        `).join('');

                divTema.innerHTML = `
            <h3> Tema: ${tema.nume}</h3>
            <p>Probleme: ${problemsList}<p>
            <p>Deadline: ${new Date(tema.deadline).toLocaleString()}</p>
            <button id="${tema.id}" onclick="openSearchModal(this.id)">Adauga</button>
            <button onclick="openEvaluateModal()">Evalueaza</button>
        `;

                temeContainer.appendChild(divTema);
            }
        }

        async function fetchProblemsByTemaId(temaId) {
            try {
                const response = await fetch(`/api/getProblemsByIdTema?id=${temaId}`);
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            } catch (error) {
                console.error('Error fetching problems:', error);
                return [];
            }
        }

        function populateUsersList(users) {
            console.log(users);
            const ul = document.querySelector('#evaluateModal ul');
            ul.innerHTML = '';

            users.forEach(user => {
                const li = document.createElement('li');
                li.textContent = "#" + user.id + " - " + (user.firstname || "nesetat") + " " + (user.lastname || "nesetat") + " - " + user.email;
                li.onclick = function () {
                    openUserSolution(user.id);
                };
                ul.appendChild(li);
            });
        }

        window.onload = function () {
            getTeme();
        };
    </script>

</body>

</html>